.navbar{
    padding: 0px !important;
}

.posted{
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: white;
    width: 60%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  }
  
  hr{
    margin-top: 8px;
    margin-bottom: 8px;
  }